.agenda-title {
  height: 130px;
  color: white;
  background-color: $setcon-coral;
  font-size: $font-size-xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

