.agenda {
  position: relative;
  top: 50px;

  .agenda-title {
    height: 130px;
    color: white;
    background-color: $setcon-coral;
    font-size: $font-size-xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    @media #{$media-780} {
      width: 100%;
      text-align: center;
    }
  }
  
  .agenda-navigation {
    width: 100%;
    justify-content: flex-start;
    padding: 20px 20%;
    font-size: $font-size-large;
    background-color: #e3eed7;
    background: transparent;

    @media #{$media-1280} {
      padding: 10px 5%;
    }
  }

  .agenda-navigation__current-stream {
    padding: 20px 20%;

    @media #{$media-1280} {
      padding: 10px 5%;
    }
  }

  .current-stream__title {
    font-size: $font-size-x-large;
    font-weight: 600;
  }

  .agenda-streams {
    display: flex;
  }

  .agenda-streams__title {
    font-size: $font-size-medium;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .agenda-container {
    display: flex;
    flex-wrap: wrap;

    .agenda-item {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;

      .agenda-item-time {
        width: 100px;
        text-align: center;
        position: relative;
      }
    }
<<<<<<< HEAD
=======
  }

  .menu-list__item {
      list-style: none;
      padding: 10px 20px; //percents didn't work in FF
      font-size: $font-size-small;
      color: $setcon-coral;
      cursor: pointer;
      margin-right: 20px;
      border-bottom: 2px solid $white;
      text-decoration: none;
      text-align: center;
      width: 130px;

      &.menu-list__item--active {
          background: $setcon-coral;
          color: $white;
          border-bottom: none;
          
          &:hover {
              border-bottom: none;
          }
      }

      &:hover {
          border-bottom: 2px solid $setcon-coral;
      }

      .menu-list__item__link {
          display: block;
          text-decoration: none;
          color: inherit;
      }
>>>>>>> de5d653b349016d5aee4c18eb3b033aad0317676
  }
}




