.agenda {
  position: relative;
  top: 50px;


  .agenda-title {
    height: 130px;
    color: white;
    background-color: $setcon-coral;
    font-size: $font-size-xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .agenda-navigation {
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    font-size: $font-size-large;
    color: $setcon-dark-gray;
    
    button {
      margin: 5px;
    }

    .agenda-navigation_current_stream {
      font-size: $font-size-xx-large;
      padding-left: 50px;
    }
  }
  .agenda-container {
    display: flex;
    flex-wrap: wrap;
    // width: 80%;

    .agenda-item {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;

      .agenda-item-time {
        width: 100px;
        text-align: center;
        position: relative;
      }
      .agenda-item-speaker {

      }
    }
  }
}




