.event-section {
    // opacity: 0.6;
    background: url(../img/iStock_000017531225_XXXLarge.jpg) center no-repeat;
    width: 100%;
    background-size: cover;

    .event-section__content {
        text-align: center;
        padding-top: 5vw;
        width: 100%;


        .event-section__content__logo {
            width: 80%;
            max-width: 1000px;
        }

        .event-section__content__text {
            font-size: $font-size-xx-large;
            padding: 5vw 0 0 0;

            @media #{$media-480} {
                font-size: $font-size-large;
            }

            @media #{$media-780} {
                font-size: $font-size-x-large;
            }

            p {
                background-color: rgba(70, 69, 71, 0.2);
                color: white;
                margin: auto;
                padding: 8px;
                text-align: center;

                @media #{$media-480} {
                    padding: 2px;
                }

                @media #{$media-780} {
                    padding: 4px;
                }
            }
        }
    }
}