.main-footer {
    position: relative;
    top: 50px;
    .main-footer__image {
      
    }

    .main-footer__sloping-block {
        position: relative;
        z-index: $z-index-high;
    }

    .main-footer__info {
        @include flex-row;
        color: $white;
        font-size: $font-size-small;
        height: 50px;
        justify-content: center;
        flex-wrap: wrap;

        .main-footer__info__email {
            color: $white;
            padding: 0 5px;
        }
    }
}