.logos-section {
  height: auto;
  min-height: 50px;
  text-align: center;
  width: 100%; 

  .logos{
    padding: 2% 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media #{$media-780} {
      padding-top: 0%;
    }

    @media #{$media-480} {
      padding-top: 10%;
    }
  }

  .logo {
    height: auto;
    max-height: 80px;
    max-width: 17vw;
    padding: 0 10px;
    margin: 0px;
  }

  .smartex_logo {
    height: 80px;
  }

  img{
      vertical-align: middle;
  }
}

.logos-section__logos {
  @media #{$media-1280} {
    display: none;
  }

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  width: 100%;
}