.logo-slider {
  margin: 10px 0;

  @media only screen and (min-width:781px) {
    display: none;      
  }
}

.logo-slider .carousel .slide {
  background-color: rgba(255,255,255,1);
}

.logo-slider .carousel .slide img {
  width: auto;
  max-width: fit-content;
}

.logo-slider__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}