.speaker_item {

  text-align: center;
  float: center;
  padding: 10px;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 8px;

  .speaker_image {
    height: 200px;
    position: relative;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
  }
  .speaker_name {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    color: $setcon-dark-gray;
    font-size: $font-size-medium;
  }
  .speaker_title {
    font-size: $font-size-small;
  }
}

.speakers-title {
  position: relative;
  top: 50px;
  height: 130px;
  color: white;
  background-color: $setcon-coral;
  font-size: $font-size-xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media #{$media-780} {
    width: 100%;
    text-align: center;
  }
}

.speakers-container {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background: url(../img/beautiful-bloom-blooming.jpg);
  padding: 20px 0;
}